DASHSCOPE_API_KEY=
QWEN_VL_API_KEY=
BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MODEL_NAME=qwen-plus
SOVITS_API_URL=http://127.0.0.1:9880/tts
ADMIN_UID=3461737415
TARGET_UID=u_MkWCKLdJG7Jubt9cQXbSpg
STARTUP_GROUP_ID=712851492
WHITE_LIST_FILE=active_groups.json
HISTORY_FILE_PATH=MSG/group_712851492_20260203_231902.json
PROACTIVE_CHAT_ENABLED=false
PROACTIVE_SILENCE_MINUTES=10
PROACTIVE_CHECK_INTERVAL_MINUTES=1
PROACTIVE_TEXT_PROBABILITY=1.0
